* {
    font-family: 'Open Sans', sans-serif;
}

body {
    margin: 0;
}

:root {
    --main-color: rgb(10, 166, 238);
}

header {
    text-align: center;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
    font-size: 4vw;
}

#current {
    border: 1px solid black;
}