/* Font Family for entire site */
* {
    font-family: 'Open Sans', sans-serif;
}

/* Reset Body Margin */
body {
    margin: 0;
}

/* Main color variable */
:root {
    --main-color: rgb(10, 166, 238);
}

/* Header */
header {
    text-align: center;
    background-color: var(--main-color);
    color: white;
    font-weight: 500;
    font-size: 4vw;
    padding: 10px;
}

/* Aside, Main */
aside, main {
    margin: 20px;
}

/* Horizontal Rule */
hr {
  border: 1px solid black;
}

/* Current Weather */
#current {
    border: 1px solid black;
}

/* Low UVI */
.lowUvi {
    background-color: green;
    padding: 3px;
    color: white;
    border-radius: 10px;
} 

/* Medium UVI */
.medUvi {
    background-color: yellow;
    padding: 3px;
    color: white;
    border-radius: 10px;
} 

/* High UVI */
.highUvi {
    background-color: orange;
    padding: 3px;
    color: white;
    border-radius: 10px;
} 

/* Very High UVI */
.vHighUvi {
    background-color: red;
    padding: 3px;
    color: white;
    border-radius: 10px;
} 

/* Extremely High UVI */
.eHighUvi {
    background-color: purple;
    padding: 3px;
    color: white;
    border-radius: 10px;
} 


